@font-face {
    font-family: 'Noir Pro Semi';
    src: url('NoirPro-SemiBold.eot');
    src: url('NoirPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-SemiBold.woff2') format('woff2'),
        url('NoirPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro Semi';
    src: url('NoirPro-SemiBoldItalic.eot');
    src: url('NoirPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-SemiBoldItalic.woff2') format('woff2'),
        url('NoirPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro Semi';
    src: url('NoirPro-SemiBoldItalic.eot');
    src: url('NoirPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-SemiBoldItalic.woff2') format('woff2'),
        url('NoirPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro Semi';
    src: url('NoirPro-SemiBold.eot');
    src: url('NoirPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-SemiBold.woff2') format('woff2'),
        url('NoirPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Italic.eot');
    src: url('NoirPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Italic.woff2') format('woff2'),
        url('NoirPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Medium.eot');
    src: url('NoirPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Medium.woff2') format('woff2'),
        url('NoirPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-MediumItalic.eot');
    src: url('NoirPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-MediumItalic.woff2') format('woff2'),
        url('NoirPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Italic.eot');
    src: url('NoirPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Italic.woff2') format('woff2'),
        url('NoirPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Bold.eot');
    src: url('NoirPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Bold.woff2') format('woff2'),
        url('NoirPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Regular.eot');
    src: url('NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Regular.woff2') format('woff2'),
        url('NoirPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-HeavyItalic.eot');
    src: url('NoirPro-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-HeavyItalic.woff2') format('woff2'),
        url('NoirPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Light.eot');
    src: url('NoirPro-Light.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Light.woff2') format('woff2'),
        url('NoirPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-MediumItalic.eot');
    src: url('NoirPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-MediumItalic.woff2') format('woff2'),
        url('NoirPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Regular.eot');
    src: url('NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Regular.woff2') format('woff2'),
        url('NoirPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Light.eot');
    src: url('NoirPro-Light.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Light.woff2') format('woff2'),
        url('NoirPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-LightItalic.eot');
    src: url('NoirPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-LightItalic.woff2') format('woff2'),
        url('NoirPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-LightItalic.eot');
    src: url('NoirPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-LightItalic.woff2') format('woff2'),
        url('NoirPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-HeavyItalic.eot');
    src: url('NoirPro-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-HeavyItalic.woff2') format('woff2'),
        url('NoirPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-BoldItalic.eot');
    src: url('NoirPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-BoldItalic.woff2') format('woff2'),
        url('NoirPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Medium.eot');
    src: url('NoirPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Medium.woff2') format('woff2'),
        url('NoirPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Bold.eot');
    src: url('NoirPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Bold.woff2') format('woff2'),
        url('NoirPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Heavy.eot');
    src: url('NoirPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Heavy.woff2') format('woff2'),
        url('NoirPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-Heavy.eot');
    src: url('NoirPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-Heavy.woff2') format('woff2'),
        url('NoirPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir Pro';
    src: url('NoirPro-BoldItalic.eot');
    src: url('NoirPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NoirPro-BoldItalic.woff2') format('woff2'),
        url('NoirPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

