.content {
  text-align: justify;
  font-family: sans-serif !important;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 32px;
  margin: 10px 0px 10px 0px;
  font-weight: normal;
}
.content h3 {
  color: #fff;
  font-family: 'Roboto ', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0px 0 8px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.content h4 {
  color: #fff;
  font-family: 'Roboto ', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0px 0 8px;
  font-size: 18px;
  text-transform: uppercase;
}
.content h5 {
  color: #fff;
  font-family: 'Roboto ', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0px 0 8px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.content h6 {
  color: #fff;
  font-family: 'Roboto ', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0px 0 8px;
  font-size: 18px;
  text-transform: uppercase;
}

.content a:hover {
  color: #0077dd;
}
.content b,
.content strong {
  font-weight: 600;
}
.content p {
  margin-bottom: 15px;
  color: #fff;
  margin-top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content p:first-child {
  margin-top: 0;
}
.content p:last-child {
  margin-bottom: 0;
}

.content a {
  color: #0077dd;
  text-decoration: none;
  cursor: pointer;
}
.content a[target='_blank'] {
  text-decoration: underline;
}

.content .tweetabletext {
  background-color: #e9ebe4;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 4px;
  color: #fff;
}
.content .tweetabletext:after {
  font-family: 'FontAwesome';
  content: '\f099';
  margin-left: 4px;
}
.content .tweetabletext:hover {
  background-color: #e2f1f9;
}
.content .tweetabletext:hover:after {
  font-family: 'FontAwesome';
  content: '\f099';
  margin-left: 4px;
  color: #00acee;
}
.content figure {
  margin: 0;
}
.content figure.image {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.content figure.image figcaption {
  background-color: #dbe1ea;
  font-size: 14px;
  color: #999;
  text-align: center;
  font-style: italic;
  line-height: 1.6;
  padding: 4px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;
}
.content .blockquote-second p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  line-height: 23px;
  margin: 0;
}
.content .blockquote-second {
  border-radius: 3px;
  position: relative; /*  <--- */
  font-style: normal;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 90%; /* create space for the quotes */
  color: #4a4a4a;
  margin: 1rem auto 2rem;
  color: #4a4a4a;
  background: #e8e8e8;
  overflow: hidden;
  border: none !important;
}
.content .blockquote-second:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -o-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  transition: all 350ms linear;
}

.content blockquote {
  font-weight: 500;
  padding: 3rem 1.2rem;
  margin: 2rem auto 2rem;
  text-align: center;
  position: relative;
  color: #4a4a4a;
  background-color: #eeeeee;
  border-radius: 3px;
  font-style: italic;
}
.content blockquote p {
  font-size: 14px;
  line-height: 1.7;
  padding-left: 10px;
  margin-top: -0.6em;
  font-family: 'Times New Roman';
  color: #fff;
}
.content blockquote:after {
  clear: both;
  content: ' ';
}
.content blockquote:before {
  color: #dbe1ea;
  content: '“';
  position: absolute;
  font-size: 150px;
  line-height: 0.1em;
  font-family: 'Times New Roman', Times, serif;
  left: 7px;
  top: 25px;
}

.content .blockquote-third {
  border-left: 5px solid #0080c3 !important;
  background: #f1f1f1 !important;
  padding: 10px 20px !important;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  margin-bottom: 10px !important;
}

.content ol {
  padding-left: 50px;
  list-style-type: decimal;
}
.content li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: #fff;
}
.content ul {
  padding-left: 40px;
  list-style: disc;
}
.content ul > li {
  padding: 4px 4px 4px 8px;
}

.content img {
  border-color: #007bff;
  max-width: 100%;
  height: auto !important;
  cursor: zoom-in;
}

.content caption {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px;
  font-weight: bold;
}
.content table {
  font-size: 13px;
  margin: 20px 0;
  width: 100%;
  border-top: 3px solid #fff;
  border-bottom: 2px solid #fff;
  border-collapse: collapse;
}
.content table th {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  padding: 4px;
  color: #fff;
}
.content table td {
  border: 1px solid #dbe1ea;
  padding: 4px;
  color: #fff;
  font-weight: 300;
}
.content table th > p,
.content table td > p {
  margin: 0;
}
.content table.tright tr:nth-child(even) {
  background-color: #fbfdff;
}
.content table.tleft tr:nth-child(even) {
  background-color: #fbfdff;
}
.content table.tshort td {
  padding: 2px;
}

@media (min-width: 768px) and (max-width: 978px) {
  .content blockquote {
    width: 400px;
    font-size: 1.2em;
  }
  .content blockquote > p {
    font-size: 1em;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  .content blockquote {
    width: 300px;
    font-size: 1em;
  }
  .content blockquote > p {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .content blockquote {
    width: 90%;
    font-size: 1em;
    padding: 10px 10px 40px 10px !important;
  }
  .content blockquote > p {
    font-size: 1em;
  }
  .content img {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .content blockquote {
    float: none;
    margin: 20px auto;
  }
  .content blockquote:before {
    margin-left: -0.09em;
    font-size: 120px;
    top: 19px;
  }
}

@media (max-width: 600px) {
  .content table {
    width: 100% !important;
  }
}
