.failSvg {
  height: 100px;
  width: 100px;
}

.failSvg__path {
  stroke-dasharray: 200;
  stroke-dashoffset: 400;

  animation: checker 2.8s linear;
  animation-fill-mode: forwards;
}

@keyframes checker {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 400;
  }
}

.failSvg__path2 {
  stroke-dasharray: 430;
  stroke-dashoffset: 800;

  animation: x 0.6s linear;
  animation-fill-mode: forwards;
}

.failSvg__path3 {
  stroke-dasharray: 430;
  stroke-dashoffset: 800;

  animation: x 0.6s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes x {
  from {
    stroke-dasharray: 430;
  }
  to {
    stroke-dasharray: 400;
  }
}
