@import url('/fonts/noirpro/stylesheet.css');

*:focus-visible {
  outline: 0;
}
/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noir Pro', Arial, Helvetica, sans-serif;
}
